<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout :: site-head">


</head>
<body>
<header th:replace="layout :: site-header"/>
User index
<h4>Title:</h4>
	<p th:text="'id: ' + ${klienci.login}" />
    <p th:text="'content: ' + ${klienci.haslo}" />
<footer th:replace="layout :: site-footer"/>
</body>
</html>